

<div class='navbar'>
	<div ng-controller="navCtrl" class="container">
		<div class="row">
			<div class="myname">
				Jordan Forbes
			</div>

			<div class="info email">
				jordforb@gmail.com
			</div>
			<div class="info phone">
				610.574.8709
			</div>
			<div class="info github">
				<a href="http://www.github.com/jordanforbes">	Github
				</a>
			</div>
			<div class="linkedin info">
				<a href="http://www.linkedin.com/in/jordan-forbes">
				LinkedIn
				</a>
			</div>
		</div>
		<div class="row">
			<button ng-click= "myFunc()" id="artbtn" class="artbtn btn">Art</button>
			<button class="webbtn btn">Web Apps</button>
			<button class="contactbtn btn">Contact</button>
			</div>
		<div class="artbuttons row">
			<div class="paintingbtn btn">Paintings</div>
			<div class="drawingbtn btn">Drawings</div>
		</div>
	</div>
</div>

