
<html ng-app="paintingApp">
<head>
	<link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/styles.css">
	 <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>

    <script src="/js/controllers/paintingControllers.js">	
    </script>
    <script src="/js/factories/paintingFactory.js"></script>
    <script src="/js/directives/paintingDirective.js"></script>
    <script src="/js/directives/bigpaintingDirective.js"></script>
	<script src="/js/app.js"></script>
</head>
<body>
    
	<div ng-view></div>
</body>
</html>